<!DOCTYPE html>
<html layout:decorate="~{Layout}">
<head>
	<meta charset="UTF-8" />
</head>
<body>		
	<section class="layout-content">
	
		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<i class="oi oi-caret-right"></i>
						<span>Home</span>
					</li>
				</ul>
			</div>
		</nav>
		
		<div class="container">
			<div id="list-home" class="row">
				<div class="col-4">
					<div class="list-group" id="list-tab" role="tablist">
						<a class="list-group-item list-group-item-action active"
							id="list-spring-boot-list" data-toggle="list" href="#home"
							role="tab" aria-controls="spring-boot">Sistema de Gerenciamento de Usuário</a> 
					</div>
				</div>
				<div class="col-8">
					<div class="tab-content" id="nav-tabContent">
						<div class="tab-pane fade show active" id="home"
							role="tabpanel" aria-labelledby="list-spring-boot-list">
							<a href="https://projects.spring.io/home/">Gerenciamento de Usuário</a>
							[aqui entra um texto]
						</div>
						
					</div>
				</div>
			</div>
		</div>
		
	</section>		
</body>
</html>